body.dark {
  background: #131313;
  color: white;
}

body.dark .floating-navbar {
  background: #4a4a4a;
  color: white;
}
body.dark .hero-title{
  color: white;
}
body.dark .hero-text{
  color: #838383;
}
body.dark .advantage-card {
  background: #222;
  color: white;
}
body.dark .theme-toggle,
body.dark .user-icon{
  background-color: var(--primary-yellow);
}
body.dark .advantages-section{
  background-color: var(--primary-yellow);
}
body.dark .advantages-section .section-title{
  color: #000;
}
body.dark .icon-box{
  background-color: white;
}
body.dark .icon-box i{
  color: #000;
}
body.dark .step-card h3,.step-card p{
  color: #000;
}
body.dark .step-icon{
  background-color: #000;
}
body.dark .index-profile-card{
  background-color: #222;
}
body.dark .index-profile-card .fw-bold{
  color: var(--primary-yellow);
}
body.dark .phone-card-btn-wrapper a{
  background-color: var(--primary-yellow);
  color: #000;
}
body.dark .phone-input,
body.dark .phone-prefix{
  background-color: #efefef;
  border-color: #515151;
}
body.dark .faq-answer{
  background-color: var(--primary-yellow);
  color: #000;
}

body.dark .profile-card,
body.dark .auth-container,
body.dark .footer-card,
body.dark .settings-card,
body.dark .trip-card,
body.dark .rental-card {
  background: #4a4a4a;

}

body.dark .faq-question {
  background: #222;
  color: white;
}

body.dark .filter-btn{
  background-color: #222;
}
body.dark .filter-btn.active{
  background: #FFD000;
  border-color: #FFD000;
  color: #000;
}
body.dark .tag{
  color: black;
}
body.dark .card-body{
  background-color: #000;
}
body.dark .price{
  color: #000;
  background-color: white;
}
body.dark .btn{
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}
body.dark .btn:hover{
  color: rgb(0, 0, 0);
  background-color: var(--primary-yellow);
}
body.dark .btn-dark {
  background: var(--primary-yellow);
  color: #000;
}
body.dark .btn-dark:hover{
  background: #222;
}

body.dark .auth-container{
  background-color: #222;
}
body.dark  .auth-container h2{
  color: var(--primary-yellow);
}
body.dark .auth-container button{
  background-color: var(--primary-yellow);
  color: #000;
}
body.dark .auth-container p{
  color: white;
}


body.dark .profile-section{
  background-color: #131313;
}
body.dark .profile-card{
  background-color: #000;
}
body.dark .avatar{
  background-color: var(--primary-yellow);
  color: #000;
}
body.dark .flex-fill{
  background-color: var(--primary-yellow);
  color: #000;
}
body.dark .btn-dark-profile{
  background-color: #4a4a4a;
  color: white;
}
body.dark .btn-outline-danger-profile{
  background-color: white;
}
body.dark .trip-card{
  background-color: var(--primary-yellow);
  color: #000;
}
body.dark .settings-card{
  background-color: #000;
}
body.dark .btn-yellow{
  color: #000;
}

body.dark .modal-content{
  background-color: #131313;
}
body.dark .modal-title{
  color: white;
}
body.dark .tariff-info h4{
  color: white;
}
body.dark .tariff-row{
  background-color: white;
  border-color: #000;
  color: #000;
}
body.dark .car-specs{
  background-color: var(--primary-yellow);
}

body.dark .form-group label{
  color: white;
}

body.dark #nav-menu.show{
  background-color: #222;
}