body.dark {
  background: #0d1117;
  color: white;
}

body.dark .floating-navbar {
  background: #161b22;
  color: white;
}

body.dark .advantage-card {
  background: #222;
  color: white;
}

body.dark .profile-card,
body.dark .auth-container,
body.dark .footer-card,
body.dark .settings-card,
body.dark .trip-card,
body.dark .rental-card {
  background: #161b22;
  color: white;
}

body.dark .btn-dark {
  background: #fff;
  color: #000;
}

body.dark .faq-question {
  background: #222;
  color: white;
}

body.dark input,
body.dark .form-control {
  background: #1e2530;
  border-color: #555;
  color: white;
}
