body {
  margin: 0;
  padding: 0;
  background: #fff7c9;
  
}
































/* ========== КАК ЭТО РАБОТАЕТ ========== */


























@media (max-width: 768px) {
  .hero-title {
    font-size: 34px;
  }

  .floating-navbar {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}


.catalog-section {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 60px;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 10px 20px;
  background: white;
  border-radius: 30px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: .25s;
  font-weight: 600;
  user-select: none;
}

.filter-btn:hover {
  border-color: #FFD000;
}

.filter-btn.active {
  background: #FFD000;
  border-color: #FFD000;
}

/* === КАРТОЧКИ === */
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.rental-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  transition: .3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.rental-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.rental-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.tag {
  display: inline-block;
  background: #FFD000;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 20px;
}

.price {
  background: #f3f3f3;
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: 600;
}

.card-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  flex: 1;
  border-radius: 12px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: .25s;
  text-decoration: none;
  color: black;
  border: 2px solid #ccc;
}

.btn:hover {
  border-color: #000;
}

.btn-dark {
  background: #000;
  color: white;
  border-color: #000;
}

.btn-dark:hover {
  background: #222;
}




















.flex-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}








































html {
  scroll-behavior: smooth;
}



.profile-redirect-card {
  background: #ffffff;
  border-radius: 25px;
  padding: 40px 30px;
  text-align: center;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.profile-redirect-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
}

.profile-redirect-card h2 {
  margin-bottom: 15px;
  font-size: 28px;
}

.profile-redirect-card p {
  margin-bottom: 25px;
  font-size: 16px;
}